In [2]:
from paris_geoqueries import *
from ponderation import *

# Test with Starbucks query

In [6]:
starbucks_query = foursquare_query('Starbucks', 13035, 'Paris', 50)
starbucks_density = spot_finder(starbucks_query)
starbucks_normalized = density_or_points_normalizer(starbucks_density, 'Starbucks')

# Let's see what district ranks higher in our ponderation system!

### Query code cheatsheet
*Distance* criteria -> query with distance_criteria function!
- Airports
    - International airports: 19040
    - Smaller scale airports: 19031
- Dog grooming: 11134
- Basketball courts: 18008

*Density* criteria -> query with foursquare_query function! 
- Elementary schools: 12058
- Vegan restaurants: 13377
- Starbucks: 13035

In [3]:
airport_query = distance_criteria ('Airport', 19040)
airport_normalized = density_or_points_normalizer(airport_query, 'Airports')

In [4]:
dog_grooming_query = distance_criteria ('', 11134)
airport_normalized = density_or_points_normalizer(dog_grooming_query, 'Dog grooming')

In [5]:
basketball_query = distance_criteria ('Basket', 18008)
basketball_normalized = density_or_points_normalizer(basketball_query, 'Basket Court')

In [6]:
schools_query = foursquare_query('School', 12058, 'Paris', 50)
school_density = spot_finder(schools_query)
school_normalized = density_or_points_normalizer(school_density, 'Schools')

In [7]:
vegan_query = foursquare_query('Vegan', 13377, 'Paris', 50)
vegan_density = spot_finder(vegan_query)
vegan_normalized = density_or_points_normalizer(vegan_density, 'Vegan restaurants')

In [8]:
starbucks_query = foursquare_query('Starbucks', 13035, 'Paris', 50)
starbucks_density = spot_finder(starbucks_query)
starbucks_normalized = density_or_points_normalizer(starbucks_density, 'Starbucks')

In [9]:
area_info

,Name,Area,Airports,Dog grooming,Basket Court,Schools,Vegan restaurants,Starbucks
0,Batignolles-Monceau,5.6690,0.017684,1.000000,0.388977,0.094990,0.000000,0.098606
1,Bourse,1.3975,0.369684,0.225999,0.580095,0.000000,1.000000,0.400000
2,Butte-Montmartre,6.0050,0.000000,0.993343,0.856463,0.000000,0.000000,0.046545
3,Buttes-Chaumont,6.7860,0.088561,0.819902,0.822760,0.317418,0.000000,0.000000
4,Entrepôt,2.8920,0.257263,0.384723,0.517446,0.372407,0.322153,0.193292
5,Gobelins,7.1460,1.000000,0.046251,0.000000,0.150714,0.000000,0.039113
6,Hôtel-de-Ville,1.3975,0.597474,0.241416,0.522601,0.000000,0.444444,0.600000
7,Louvre,1.3975,0.450105,0.343378,0.365186,0.000000,0.444444,1.000000
8,Luxembourg,2.1540,0.652491,0.865102,0.627280,1.000000,0.216264,0.000000
9,Ménilmontant,5.9840,0.422175,0.386826,0.517446,0.000000,0.000000,0.000000
10,Observatoire,5.6210,0.938667,0.532586,0.808882,0.383206,0.027625,0.049724
11,Opéra,2.1790,0.226105,0.522074,1.000000,0.247132,0.427566,0.769619
12,Palais-Bourbon,4.0880,0.501614,0.756833,0.628073,0.395181,0.000000,0.068371
13,Panthéon,2.5410,0.747088,0.521374,0.298176,0.211924,0.183327,0.219992
14,Passy,16.3050,0.251509,0.148213,0.962331,0.099080,0.000000,0.000000
15,Popincourt,3.6660,0.516351,0.251226,0.952815,0.000000,0.296493,0.076241
16,Reuilly,16.3240,0.797895,0.526629,0.299762,0.131953,0.028537,0.068488
17,Temple,1.3975,0.464281,0.000000,0.457573,0.000000,0.444444,0.000000
18,Vaugirard,8.5020,0.670175,0.389629,0.496431,0.000000,0.000000,0.164373
19,Élysée,3.8810,0.248842,0.709180,0.442506,0.416259,0.000000,0.432105