In [2]:
import pandas as pd
import json

from suitable_cities import *

In [47]:
def json_load (json_file):
  with open(json_file) as f:
    queried_db = json.load(f)
    return queried_db

In [51]:
def companies_distribution (json_file):
    '''
    Function that provides a dataframe with offices' geographical distribution.
    Takes the json file as argument and returns the dataframe with companies' name and their offices' geographic data. 
    '''
    # creation of lists to which append information of interest, through the iteration below.
    names_list = []
    city_list = []
    zip_list = []
    latitude_list = []
    longitude_list = [] 

    for company_index in range(len(json_file)):
        for office_index in range(len(json_file[company_index]['offices'])):
            names_list.append(json_file[company_index]['name'])
            city_list.append(json_file[company_index]['offices'][office_index]['city'])
            zip_list.append(json_file[company_index]['offices'][office_index]['zip_code'])
            latitude_list.append(json_file[company_index]['offices'][office_index]['latitude'])
            longitude_list.append(json_file[company_index]['offices'][office_index]['longitude'])

    # creation of the dictionary storing each list and conversion from dict to df
    data_dict = {
        'name': names_list,
        'city': city_list,
        'zip': zip_list,
        'lat': latitude_list,
        'lon': longitude_list
    }
    
    df = pd.DataFrame(data_dict)
    return df

In [53]:
offices_df = companies_distribution(queried_db)

In [54]:
offices_df

,name,city,zip,lat,lon
0,ZYB,Copenhagen,2200,55.699123,12.541484
1,Goojet,Labege,31672,NaN,NaN
2,Goojet,Paris,75001,NaN,NaN
3,Mobovivo,Calgary,T2P 4V5,NaN,NaN
4,Fon,Madrid,28050,40.530724,-3.632687
...,...,...,...,...,...
120,Luma International,303 Twin Dolphin Drive Suite 600,94065-1422,NaN,NaN
121,Luma International,Courbevoie,92400,NaN,NaN
122,Luma International,Rotterdam,3013 AA,NaN,NaN
123,PubliAtis,PARIS,75002,48.869995,2.340695
124,Getyoo,Brussels,1000,50.839970,4.346472